name: Publish Nuget

on: 
  push:
    branches: 
      - master

jobs:
  publish:
    name: Publish to Nuget
    runs-on: windows-latest

    steps:
    - uses: actions/checkout@v1
    - name: Setup .NET Core
      uses: actions/setup-dotnet@v1
      with:
        dotnet-version: 3.0.101
        project_dir: src/Unicorn.ViewManager # Defaults to repository root

    - name: Build with dotnet
      run: dotnet pack -c Release src/Unicorn.ViewManager/Unicorn.ViewManager.csproj -o .
      
    - name: Push Package to Nuget
      run: dotnet nuget push *.nupkg -s https://api.nuget.org/v3/index.json -k ${{ secrets.NUGET_API_KEY }} --skip-duplicate
